@model EventsPlanning.Models.Event
@{
    ViewBag.Title = Model.Title;
}

<div class="container-fluid">
    <div class="row">
        <h2>@Model.Title [ @ViewBag.CountOfMembers / @Model.MaxMembersCount ]</h2>
        <h6>Организатор: @ViewBag.Author</h6>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var item in ((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).EventManager.GetFields(Model.EventId))
            {
                <li class="list-group-item">@item</li>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="text-right">@Model.Address | @Model.DateTime</h5>
        </div>
        <div class="col">
            @if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsInAccount() == true)
            {
                if (!User.IsInRole("admin"))
                {
                    if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsUserOnEvent(Model.EventId))
                    {
                        @Html.ActionLink("Отменить запись", "SignOutFromEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else
                    {
                        if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).CountOfUsersOnEvent(Model.EventId) < Model.MaxMembersCount)
                        {
                            @Html.ActionLink("Записаться на мероприятие", "SignUpForEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <button class="btn btn-default disabled">Уже все места заняты, ожидайте освобождения мест</button>
                        }
                    }
                }
                else
                {
                    if (ViewBag.IsAuthor == 0)
                    {
                        @Html.ActionLink("Удалить мероприятие", "Delete", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsUserOnEvent(Model.EventId))
                        {
                            @Html.ActionLink("Отменить запись", "SignOutFromEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                        else
                        {
                            if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).CountOfUsersOnEvent(Model.EventId) < Model.MaxMembersCount)
                            {
                                @Html.ActionLink("Записаться на мероприятие", "SignUpForEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                            }
                            else
                            {
                                <button class="btn btn-default disabled">Уже все места заняты, ожидайте освобождения мест</button>
                            }
                        }
                    }
                }
            }
            else
            {
                <button class="btn btn-default disabled">Войдите в аккаунт для записи на мероприятие</button>
            }
        </div>
    </div>
</div>