@model EventsPlanning.Models.Event
@{
    ViewBag.Title = Model.Title;
}

<div class="container-fluid">
    <div class="row">
        <h2>@Model.Title [ @ViewBag.CountOfMembers / @Model.MaxMembersCount ]</h2>
        <h6>Организатор: @ViewBag.Author</h6>
    </div>
    <div class="row">
        <h3>@Model.EventId</h3>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="text-right">@Model.Address | @Model.DateTime</h5>
        </div>
        <div class="col">
            @if (User != null)
            {
                if (!User.IsInRole("admin"))
                {
                    if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsUserOnEvent(Model.EventId))
                    {
                        @Html.ActionLink("Отменить запись", "SignOutFromEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Записаться на мероприятие", "SignUpForEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                    }
                }
                else
                {
                    if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsUserACreatorOfEvent(Model.EventId))
                    { 
                        @Html.ActionLink("Удалить мероприятие", "Delete", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        if (((EventsPlanning.Controllers.EventsController)Html.ViewContext.Controller).IsUserOnEvent(Model.EventId))
                        {
                            @Html.ActionLink("Отменить запись", "SignOutFromEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("Записаться на мероприятие", "SignUpForEvent", routeValues: new { eventId = Model.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                        }
                    }
                }
            }
            else
            {
                @Html.ActionLink("Войдите в аккаунт для записи на мероприятие", "", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", disabled = "true" })
            }
        </div>
    </div>
</div>