@model EventsPlanning.Models.IndexViewModel
@{
    ViewBag.Title = "Мой профиль";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<h2>@ViewBag.Title</h2>
<div>
    <h6>Мои мероприятия</h6>
    <div class="container-fluid py-3 px-0">
        @{
            if (((EventsPlanning.Controllers.ManageController)this.ViewContext.Controller).GetuUserEvents().Count > 0)
            {
                int countOfEvents = 0;
                foreach (var _event in ((EventsPlanning.Controllers.ManageController)this.ViewContext.Controller).GetuUserEvents())
                {
                    if (countOfEvents == 3)
                    {
                        break;
                    }
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">@_event.Title [@((ApplicationEventManager.CountOfMembersOfEvent(_event))) из @_event.MaxMembersCount]</h3>
                            <ul class="list-group my-3">
                                <li class="list-group-item">Дополнительная информация:</li>
                                <li class="list-group-item">@(((EventsPlanning.Controllers.HomeController)Html.ViewContext.Controller).EventManager.GetDescription(_event.EventId))</li>
                            </ul>
                            <div class="container-fluid px-3">
                                <p class="h6 text-muted text-right row">@_event.Address | @_event.DateTime</p>
                            </div>
                        </div>
                        <div class="card-footer px-1">
                            <div class="container-fluid">
                                <div class="row">
                                    @Html.ActionLink("Подробнее", "Event", "Events", routeValues: new { eventId = _event.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                    countOfEvents++;
                }
            }
            else
            {
                <p class="h1">Вы не записаны ни на одно предстоящее мероприятие</p>
            }
        }
    </div>
    <hr />
    <h2>Изменение параметров учетной записи</h2>
    <dl class="dl-horizontal">
        <dt>Отбражаемое имя:</dt>
        <dd>
            [
            @Html.ActionLink("Сменить", "ChangeUsername")
            ]
        </dd>
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Сменить", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
