@model IEnumerable<EventsPlanning.Models.Event>
@{
    ViewBag.Title = "Все мероприятия";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
@foreach (var _event in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@_event.Title</h3>
                    <h3 class="panel-title">@(((EventsPlanning.Controllers.HomeController)Html.ViewContext.Controller).EventManager.CountOfMembersOfEvent(_event)) из @_event.MaxMembersCount</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var item in ((EventsPlanning.Controllers.HomeController)Html.ViewContext.Controller).EventManager.GetFields(_event.EventId))
                        {
                            <li class="list-group-item">@item</li>
                        }
                    </ul>
                    <p class="text-right">@_event.Address | @_event.DateTime</p>
                </div>
                <div class="panel-footer">
                    <div class="container-fluid">
                        <div class="row">
                            @Html.ActionLink("Подробнее", "Event", "Events", routeValues: new { eventId = _event.EventId }, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (User != null && User.IsInRole("admin"))
{
    <hr />
    <div class="row m-3">
        <div class="col-md-4">
            @Html.ActionLink("Добавить мероприятие", "Create", "Events", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
}